<div class="container py-5">
 <div class="row">
    <div class="col-md-6" >
        <div class="row align-items-center my-2 "  *ngFor="let Product of cartProducts">
            <div class="col-md-6 " style="width: 200px;">
            <img [src]="Product?.image" class="rounded w-100">
            </div>
            <div class="col-md-6" style="width: 200px;">
                <h4>{{Product?.title}}</h4>
                <h5>{{Product?.price|currency}}</h5>
                <label>Amount:</label>
                <input type="number" [(ngModel)]="Product.Qty" (change)="CalTotal()" [value]="Product?.Qty">

            </div>
        </div>
        <h3 class="mt-3"> Total: {{Total|currency}}</h3>

    </div>
    <div class="col-md-6">
        <form [formGroup]="CheckOutForm" (ngSubmit)="CheckOut(CheckOutForm)" >
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="minimum 3 characters">
                <div *ngIf="CheckOutForm.get('fullName')?.errors !=null && CheckOutForm.get('fullName')?.touched " class="bg-danger my-1  rounded">
                    <p *ngIf="CheckOutForm.get('fullName')?.errors?.['required'] " class="text-light px-2 py-1">* Full Name Is Required</p>
                    <p *ngIf="CheckOutForm.get('fullName')?.errors?.['minlength']" class="text-light px-2 py-1">* Full Name Is minlength 3</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="Address" class="form-label">Address </label>
                <input type="text" class="form-control" id="Address" formControlName="Address" placeholder="minimum 6 characters">
                <div *ngIf="CheckOutForm.get('Address')?.errors !=null && CheckOutForm.get('Address')?.touched " class="bg-danger my-1  rounded">
                    <p *ngIf="CheckOutForm.get('Address')?.errors?.['required'] " class="text-light px-2 py-1">* Address Is Required</p>
                    <p *ngIf="CheckOutForm.get('Address')?.errors?.['minlength']" class="text-light px-2 py-1">* Address Is minlength 6</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="creditCardNumber" class="form-label">credit card number </label>
                <input type="number" class="form-control" id="creditCardNumber" formControlName="creditCardNumber" placeholder="(16-digit number)">
                <div *ngIf="CheckOutForm.get('creditCardNumber')?.errors !=null && CheckOutForm.get('creditCardNumber')?.touched " class="bg-danger my-1  rounded">
                    <p *ngIf="CheckOutForm.get('creditCardNumber')?.errors?.['required'] " class="text-light px-2 py-1">* creditCardNumber Is Required</p>
                    <p *ngIf="CheckOutForm.get('creditCardNumber')?.errors?.['pattern']  " class="text-light px-2 py-1">* creditCardNumber Is length 16</p>
                </div>
                <label style="font-size: small;" for="Note" class="px-2 form-label">we will never share your Payment details with anyone else.</label>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="CheckOutForm.invalid">Submit</button>
        </form>
    </div>
 </div>
</div>

